 body{
  background-color:#CCC;
  
 }
.whiteBack{
  position:relative;
  left:8%;
  width:1100px;
  height:1200px;
  background-color:white;
}
.workSpace{
 position:relative;
 margin-top:40px;
 margin-left:10px;
 float:left;
 width:850px;
 height:600px;
 border:2px #CCC solid;
 border-radius:8px;
 display:inline-block;
 }
 .noteSpace{
   margin-top:40px;
   margin-left:20px;
   width:200px;
   height:300px;
   border:2px #CCC solid;
   border-radius:8px;
  display:inline-block;
 }
 .origin_sentence{
 width:100%;
 background-color:#CCC;
 height:80px;
 position:absolute;
 top:520px;
 }
 .buttons{
  position:absolute;
  right:0px;
  width:auto;
  height:auto;
  margin-top:6px;
  margin-right:6px;
  display:none;
 }
 .redo{
 width:40px;
 height:50px;
 display:inline-block;
 cursor:pointer;
 }
 .pic{ 
   width:100%;
   height:100%;
 }
  .replay{
  width:55px;
  height:50px;
  display:inline-block;
  cursor:pointer;
  }
  .next{
  width:38px;
  height:50px;
  display:inline-block;
  cursor:pointer;
  }
  .subSentence{
   color:black;
   font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
   font-size:18px;
   font-weight:bold;
   padding:3px;
   height:auto;
   width:auto;
   text-align:center;
   display:inline-block;
   z-index:1;
   position:absolute;
  }
  .subSentence2{
  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
   font-size:18px;
   font-weight:bold;
   padding:3px;
  height:auto;
  width:auto;
  text-align:center;
  display:inline-block;
  position:absolute;
  color:#666;
  z-index:1;
  }
  .sentenceManager{
  position:absolute;
  left:50px;
  top:30px;
    width:900px;
	background-color:pink;
	boder:2px black solid;
	height:1000px;
	text-align:center;
	display:none;
  }
  .lines{
   background-color:#666;
   position:absolute;
   display:inline-block;
   z-index:2;
  }
  .wr_tag{
    position:absolute;
	right:20px;
	top:20px;
	width:32px;
	height:32px;
	display:none;
  }
  .right_answer{
     background-color:#3C6;
  }
  .note{
  position:absolute;
  border-radius:3px;
  border:1px solid pink;
  width:auto;
  height:auto;
  z-index:2;
  background-color:#FF6;
  display:none;
  }